################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StewartsBlinds/.vs/StewartsBlinds/v16
/StewartsBlinds/StewartsBlinds/obj
/StewartsBlinds/StewartsBlinds/bin/Release/netcoreapp2.1
